<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 服务实现 -->
    <bean id="versionService" class="test.dubbo.service.impl.VersionServiceImpl"/>

    <dubbo:application name="dubbo-app"/>

    <!-- Zookeeper注册中心 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <!-- Dubbo暴露的服务端口 -->
    <dubbo:protocol name="dubbo" port="20883"/>

    <!-- Dubbo暴露的服务接口 -->
    <dubbo:service interface="test.dubbo.service.VersionService" ref="versionService"
                   executes="20" accesslog="/var/tmp/dubbo/access-3.log" />

</beans>
